body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(240, 128, 87);
    font-family: "Lobster Two", cursive;
  }
  
  .navbar-light .navbar-brand {
    background: #9e4343;
    color: white;
    float: left;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
  }
  
  h1,
  h2 {
    color: #52472b;
    margin: 15px;
    padding: 15px;
  }
  
  .container {
    background-color: white;
    size: 50%;
    margin: 20px;
    padding: 20px;
  }

  hr.solid {
    border-top: 3px solid #bbb;
  }
  
  .mr-3 {
    position: relative;
    float: left;
    padding: 20px;
    margin: 10px;
    width: 100%;
    min-width: 25%;
    max-width: 75%;
    line-height: normal;
  }
  
  #bioimg {
    width: 100%;
    height: 100%;
  }
  
  #bio {
    float: left;
    font-size: 20px;
  }
  
  .clearfix::after {
    overflow: auto;
  }
  
  #picture-container {
    background-color: #d3d3d3;
  }

  button {
    background-color: #20b2aa;
    padding: 15px;
    margin: 10px;
  }
  
  
  .footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20b2aa;
    text-align: center;
    height: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  
    #bio {
      width: 100%;
    }
  
    #bioimg {
      width: 450px;
    }
  }